In [4]:
import numpy as np
import pandas as pd

In [24]:
df_uber_apr = pd.read_csv('uber-raw-data-apr14.csv')

In [27]:
df_uber_apr.head()

          Date/Time      Lat      Lon    Base Date_Key
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512      4/1
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512      4/1
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512      4/1
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512      4/1
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512      4/1

In [26]:
df_uber_apr['Date_Key'] = df_uber_apr['Date/Time'].map(lambda x: str(x)[:-13])

In [65]:
df_weather_apr = pd.read_excel('weather-data-apr14.xlsx',skiprows = [1])

c:\users\yinya\appdata\local\programs\python\python39\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [63]:
df_weather_apr.columns.values[0] = "Date"

c:\users\yinya\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexes\base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [69]:
df_weather_apr_clean = df_weather_apr.drop(df_weather_apr.columns[[9, 19]], axis=1)
df_weather_apr_clean.head()

IndexError: index 19 is out of bounds for axis 0 with size 19

In [ ]:
df_uber_apr['col'] = 'str' + df_uber_apr['col'].astype(str)